body{
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: normal;
    margin: 35px;
    background-color: lightslategrey
}


h1{
    text-align: center;
    font-style: oblique;
    font-size 3em;
    border: 1px solid black;
    border-radius: 25px;
    background-color: white;
    box-shadow: 20px 5px 25px;
    padding: 10px;
   
}

.info{
    max-width: 800px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    float: left;
    width: 40%;
    margin-bottom: 50px;
    text-align: left;
}

.info h2{
    text-align: center;   
}


.attraction{
    max-width: 800px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    float: right;
    width:40%;
    margin-bottom: 50px;
    text-align: center
}

.attraction h2{
    text-align: center
}



.data{
    max-width: 800px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    background-color: white;
    float: left;
    width: 40%;
    margin-bottom: 50px;
    text-align: left
}

.data h2{
    text-align: center
}

footer{
    clear: both;
    max-width: 800px;
    border: 1px solid black;
    padding: 25px;
    border-radius: 25px;
    background-color: white
}

footer h2{
    text-align: center
}

li{
    text-align: center;
    list-style: none;
    padding: 10px;
}

img{
    width: 100%;
    max-width: 600px;
}


